/* Write your CSS here */
.main-bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-bg-container {
  background-color: whitesmoke;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  box-shadow: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-style {
  height: 40px;
  width: 120px;
  border-radius: 15px;
  border: none;
  background-color: #0b69ff;
  font-family: Roboto;
  color: #ffffff;
}
.main-heading {
  color: #0b69ff;
  font-family: Roboto;
}

.para {
  font-family: Roboto;
  color: #333333;
}
